table {
  border-collapse: collapse;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  width: 100%;
  max-width: 700px;
  color: #00b14f;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

td {
  padding: 0 0 4px;
  border-bottom: 1px solid #00b14f;
  width: 100%;
  /* display: block; */
}

td:first-child {
  padding: 15px 0 15px 0px;
  width: 23.5%;
  text-align: left;
  font-size: 2em;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
  line-height: 12px;
  padding-bottom: 2px;
  padding-top: 0;
}

img {
  border: 0;
  width: 100%;
  max-width: 100px;
  /* height: auto;
  display: block; */
  margin: 0 20%;
}

img#d {
  border: 0;
  max-width: 200px;
  display: block;
  margin: 0;
}

.banner {
  background: linear-gradient(45deg, rgba(0, 128, 0, 0), #00b15015, #eaece9);
  padding-bottom: 0;
}

span {
  font-size: 9pt;
  color: #898d8a;
}

span#a {
  font-weight: bold;
  color: #00b14f;
}

#b {
  width: inherit;
  font-weight: lighter;
  color: #00b14f;
  text-align: left;
  padding: 5px 0.5em 5px 0.5em;
  border-bottom: 0;
}

#c {
  width: 35%;
}

em {
  font-size: xx-small;;
}

#name {
  font-size: 18pt;
  font-weight: bold;
  line-height: 18pt;
  color: #22b14f;
}

#title {
  font-size: 11pt;
  font-weight: bold;
  line-height: 13pt;
  color: #808080;
}

@media (max-width: 550px) {
  #name {
    font-size: 14px;
    line-height: 16px;
  }

  #title {
    font-size: 10px;
    line-height: 15px;
  }

  p {
    font-size: 8px;
    line-height: 12px;
  }

  img {
    border: 0;
    width: 100%;
    max-width: 100px;
    margin: 0;
  }

  em {
    font-size: xx-small;
  }
}